*{

    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial;
    transition: 0.5;
}



body{

    padding-top: 50px;
    width: 100vw;
    height: 100vh;
    background-color:#00ff7f;
   /* background: url("banner1.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;*/

}

 h2{


           color: #2e372e;
           margin-top: 10px;
           margin-left: 40px;
           font-size: 45px;
           font-family: Verdana;
           font-weight: bold;
           
    
}


.head{

    width: 100%;
    height: 20px;
}
.head h2:hover{

    color: #fff;
}

.line{
    
    padding-top: 20px ;
    width: 1000px;
    height: 100%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
 
   
}


.box{
     /*padding-top: 20px;*/
       width: 320px;
       height: 300px;
       background-color: #fff;
       border-radius: 25px;
      
 
 

    
}

.box h3{
       font-size: 25px;
       padding-top: 20px;
       color:rgb(255, 168, 7);
       font-weight:bold;

}
.box .btn{
        width: 150px;
        height: 40px;
        border-radius: 15px;
        border: 2px solid white;
        color: #fff;
        font-size: 17px;
        cursor: pointer;
        background-color: #2e937a;
        padding-bottom: 20px;
        
}
.box a{
    text-decoration: none;
}
.box a:link, a:visited{

    color: #fff;
}
.box a:hover, a:active{
    color: #2e937a;
    
}
.box p{

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.box .btn:hover{
       background:#fff;
       color: #0bf4ba;
   

}
.box:hover{
    background-color: #2e937a;
    color:#fff;
  
 
}

@media only screen and (min-width:200px) and (max-width:767px){
.line{
    width: 100%;
	flex-direction: column;


}
.box{
margin: 10px 0px;

}


}